body {
    background-color: black;
}

header {
    font-size: 60px;
    text-align: center;
    font: bold;
    color: gold;
}

.maintext {
    display: block;
    width: 600px;
    font-size: 30px;
    text-align: center;
    font: bold;
    color: gold;
    margin-left: 500px;
    margin-top: 200px;
}

.jaguar {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;

    background-image: url(jaguars.png);
    background-size: contain;
    background-repeat: no-repeat;

    animation-duration: 3s;
    animation-name: slide;
    animation-iteration-count: infinite;
}

@keyframes slide {
    from { left: 0; }
    to { left: 80%; }
}